<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminBE</servlet-name>
        <servlet-class>Movie.AdminBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddManager</servlet-name>
        <servlet-class>Movie.AddManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerBE</servlet-name>
        <servlet-class>Movie.ManagerBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserBE</servlet-name>
        <servlet-class>Movie.UserBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Movie.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTheatreBE</servlet-name>
        <servlet-class>Movie.AddTheatreBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenTimingsBE</servlet-name>
        <servlet-class>Movie.ScreenTimingsBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScreenseatsBE</servlet-name>
        <servlet-class>Movie.ScreenseatsBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovieBE</servlet-name>
        <servlet-class>Movie.AddMovieBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookTicketBE</servlet-name>
        <servlet-class>Movie.BookTicketBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecieptBE</servlet-name>
        <servlet-class>Movie.RecieptBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTheatersServlet</servlet-name>
        <servlet-class>Movie.GetTheatersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingBE</servlet-name>
        <servlet-class>BookingBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TBookingBE</servlet-name>
        <servlet-class>Movie.TBookingBE</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBooking</servlet-name>
        <servlet-class>Movie.ViewBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmTickets</servlet-name>
        <servlet-class>Movie.ConfirmTickets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>Movie.User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashBoardServlets</servlet-name>
        <servlet-class>Movie.DashBoardServlets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>Movie.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileBE</servlet-name>
        <servlet-class>Movie.ProfileBE</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminBE</servlet-name>
        <url-pattern>/AdminBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddManager</servlet-name>
        <url-pattern>/AddManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerBE</servlet-name>
        <url-pattern>/ManagerBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBE</servlet-name>
        <url-pattern>/UserBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTheatreBE</servlet-name>
        <url-pattern>/AddTheatreBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenTimingsBE</servlet-name>
        <url-pattern>/ScreenTimingsBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenseatsBE</servlet-name>
        <url-pattern>/ScreenseatsBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovieBE</servlet-name>
        <url-pattern>/AddMovieBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookTicketBE</servlet-name>
        <url-pattern>/BookTicketBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecieptBE</servlet-name>
        <url-pattern>/RecieptBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTheatersServlet</servlet-name>
        <url-pattern>/GetTheatersServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingBE</servlet-name>
        <url-pattern>/BookingBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TBookingBE</servlet-name>
        <url-pattern>/TBookingBE</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBooking</servlet-name>
        <url-pattern>/ViewBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmTickets</servlet-name>
        <url-pattern>/ConfirmTickets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashBoardServlets</servlet-name>
        <url-pattern>/DashBoardServlets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileBE</servlet-name>
        <url-pattern>/ProfileBE</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
